<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.kieran.winnipegbus">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />

    <application
        android:allowBackup="true"
        android:fullBackupContent="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/Dark">

        <meta-data android:name="com.rollbar.android.ACCESS_TOKEN"
            android:value="eae0b3bb8c3940f88a223169b78cbf44" />

        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />

        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="@string/google_maps_key" />

        <activity
            android:name=".activities.HomeScreenActivity"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activities.StopTimesActivity"
            android:configChanges="orientation|screenSize"
            android:label="@string/app_name">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.kieran.winnipegbus.activities.HomeScreenActivity" />
        </activity>
        <activity
            android:name=".activities.FavouritesActivity"
            android:label="@string/title_activity_favourites"
            android:parentActivityName=".activities.HomeScreenActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.kieran.winnipegbus.activities.HomeScreenActivity" />
        </activity>
        <activity
            android:name=".activities.SettingsActivity"
            android:label="@string/title_activity_settings" />
        <activity
            android:name="com.google.android.gms.ads.AdActivity"
            android:configChanges="keyboard|keyboardHidden|orientation|screenLayout|uiMode|screenSize|smallestScreenSize"
            android:theme="@android:style/Theme.Translucent" />
        <activity
            android:name=".activities.SearchResultsActivity"
            android:configChanges="orientation|screenSize"
            android:label="@string/title_activity_search_results"
            android:parentActivityName=".activities.HomeScreenActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.kieran.winnipegbus.activities.HomeScreenActivity" />
        </activity>
        <activity
            android:name=".activities.ScheduledStopInfoActivity"
            android:configChanges="orientation|screenSize"
            android:label="@string/title_activity_scheduled_stop_info"
            android:parentActivityName=".activities.StopTimesActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.kieran.winnipegbus.activities.StopTimesActivity" />
        </activity>
        <activity
            android:name=".activities.StopInfoActivity"
            android:label="@string/title_activity_stop_info"
            android:parentActivityName=".activities.StopTimesActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.kieran.winnipegbus.activities.StopTimesActivity" />
        </activity>

        <activity
            android:name=".activities.StopsMapActivity"
            android:label="@string/title_activity_route_map">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.kieran.winnipegbus.activities.SearchResultsActivity" />
        </activity>
        <activity
            android:name=".activities.ServiceAdvisoriesActivity"
            android:label="@string/title_activity_service_advisories"
            android:parentActivityName=".activities.HomeScreenActivity" />
        <activity
            android:name=".activities.ServiceAdvisoryActivity"
            android:label="@string/title_activity_service_advisory"
            android:parentActivityName=".activities.ServiceAdvisoriesActivity" />
        <activity
            android:name=".activities.TripPlannerActivity"
            android:label="@string/title_activity_trip_planner"
            android:configChanges="orientation|screenSize"
            android:parentActivityName=".activities.HomeScreenActivity" />
    </application>

</manifest>